{% trans_default_domain 'translation' %}

<script language = "javascript"
        src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>


</br>
</br>

<div class="row" id = "structure">
    <div>
        <div id="users"></div>
        <div id="user_pages"></div>
    </div>
    <div>
        <div id="winter_roads"></div>
        <div id="winter_road_pages"></div>
    </div>
</div>
