{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}
{% block title %}entity{% endblock %}

  {% block top_menu %}

  {% endblock %}

{% block body %}
    <style>

        body{
            background-color: #F7F7F7;
        }

        #main_container{
            display: flex;
            width: 100%;
        }

        .navbar{
            background: #EDEDED;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 0px;
        }

        #wrapper {
            position: relative;
            padding-left: 0px;
            transition: all 0.4s ease 0s;
            float: left;
            width: 100%;
        }

        #wrapper.active {
            width: available;
            padding-left: 0px;
            left: 0px;
        }
        #wrapper.active  #sidebar-wrapper {
            left: 0px;
            width: 0px
        }
        #wrapper.active  #page-content-wrapper {
            padding-left: 0px;
        }

        #sidebar-wrapper {
            color: whitesmoke;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            margin-left: -275px;
            left: 275px;
            right:0px;
            width: 275px;
            background: #2A3F54;
            position: fixed;
            height: 100%;
            overflow-y: auto;
            z-index: 1000;
            transition: all 0.4s ease 0s;
        }

        #page-content-wrapper {
            width: 100%;
            padding-left: 250px;
            transition: all 0.4s ease 0s;
        }

        .content-header{
            padding: 10px;
            text-align: center;
        }

        .search-input{
            margin-left: 4px;
            margin-bottom: 4px;

        }

        #side-menu {
            position: absolute;
            top: 0;
            width: 275px;
            list-style: none;
            margin: 0;
            padding-left: 15px;
            padding-top: 20px;
        }

        #sidebar-wrapper a:hover{
            background-color: #428bca;
        }

        .pagination {
            padding-top: 10px;
            display: table;
            margin: 0 auto;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd; /* Gray */
            border-radius: 8px;
        }

        .pagination a.active-page {
            color: white;
            background-color: #007BFF;
        }

        .pagination a:hover:not(.active-page) {
            background-color: #ddd;
        }

        #sidebar_container ul, li {
            list-style-type: none;
            padding-top: 8px;
            margin:auto;
        }
        .dropdown-trigger, .side-button{
            padding: 0px;
            margin: 0px;
            display:inline;
        }
        .dropdown-content {
            display: none;
            border-right: 8px solid #1ABB9C;
        }

        #side-menu-close{
            color: #2A3F54;
            transition: 500ms;
        }

        #side-menu-close:not(.active){
            transform: translate(1vw, 0px);
        }

        #side-menu-close.active{
            transform: translate(0px, 0px);

        }

        #side-menu-close li{
            padding: 100px;
        }

        hr{
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }

    </style>

    <script>
        var txt;
        var structure_array;

        $(document).ready(function () {



            initSideMenu();

            console.log(structure_array);

            sideMenuToggle();

            dropdownClick();

            viewToggle();

        });

        function viewToggle() {
            $(document).on("click", ".side-button", function() {
                var id = $(this).attr('id');
                var header = $(this).text();

                resetContracts();

                if($(this).attr("data-type") == 1){

                    $("#winter-roads-container").hide();
                    $("#contract-jobs-container").show();

                    console.log(id);

                    initCheckBox(id);

                    //contractAjax([id],0);

                } else if($(this).attr("data-type") == 2){
                    $("#winter-roads-container").show();
                    $("#contract-jobs-container").show();

                    header += " kelių tarnyba";


                    winterRoadAjax(id,0);
                    contractAjax(id,0);

                }else if($(this).attr("data-type") == 3){
                    $("#winter-roads-container").hide();
                    $("#contract-jobs-container").hide();

                    initCheckBox(id);

                    header += " master tarnyba";

                }else{

                }

                $("#navbar-middle-header").text(header);

            });
        }

        function sideMenuToggle() {
            $(document).on("click", "#side-menu-close", function() {
                $(this).toggleClass("active");
                $("#wrapper").toggleClass("active");
            });
        }

        function dropdownClick() {
            $(document).on("click", ".dropdown-trigger", function() {
                $(".dropdown-content").stop();

                $(".dropdown-content").not(
                    $(this).parents('.dropdown-content')).not(
                    $(this).next(),
                ).slideUp().parent().find(".dropdown-arrow").removeClass("fa-angle-left").removeClass("fa-angle-down").addClass("fa-angle-left");;

                $(this).find(".dropdown-arrow").toggleClass("fa-angle-left").toggleClass("fa-angle-down");

                $(this).next(".dropdown-content").slideToggle();
            });
        }

        function initSideMenu() {
            var json = {{ structure|json_encode|raw }};

            var myObj = JSON.parse(json);

            structure_array = myObj;

            txt = "<div class='row-fluid' id='sidebar_container'>"
            findObject(myObj);
            txt += "</div>"

            $('#side-menu').append(txt);
        }

        function findObject(object) {
            if (object != null) {

                var bool = true;

                for (x in object) {
                    if (object[x].array.length > 0) {
                        txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].StructureId+"' class=' btn btn-lg btn-block side-button dropdown-trigger '>" + object[x].Name + "<i style='float: right; padding-right:20px;' class=\"dropdown-arrow fa fa-angle-left\" aria-hidden=\"true\"></i></a>"
                        txt += "<ul class='dropdown-content'>"
                                findObject(object[x].array);
                        txt += "</ul></li>"

                    } else if(object[x].InformationType != 0) {
                       //     txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].StructureId+"' class=' btn btn-lg btn-block kt_button'>" + object[x].Name + "</a>"
                            txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].StructureId+"' class=' btn btn-lg btn-block side-button'>" + object[x].Name + "</a>"
                            txt += "<div class='dropdown-content'>"
                            txt += "</div></li>"
                        }
                    }
                }
            }
    </script>

<div id="wrapper">
    <div class="container-fluid" id="main_container">
        <div id="sidebar-wrapper">
            <div id="side-menu">
                <div>
                <h2>Regionai</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">

            <nav class="navbar navbar-default navbar">
                <div class="navbar-header">
                    <h3 class="btn btn-lg" id="side-menu-close" style="color: #2A3F54;font-size: 25px;"><i id="side-menu-close-icon"class="fa fa-bars" aria-hidden="true"></i></h3>
                </div>

                <h2 id="navbar-middle-header">Hello</h2>

                <div class="nav navbar-top-links navbar-right ">
                    <a style="padding-right: 10px; margin-top: 10px; " href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i>{% trans %} Logout{% endtrans %}</a>
                </div>
            </nav>

            {{ include('structure/Contents/winter_road_content.twig') }}
            <br>
            {{ include('structure/Contents/contract_jobs_content.twig') }}

        </div>
    </div>

    <div id="user-panel">

    </div>
{% endblock %}