{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %} {% trans %} Edit {% endtrans %} {% endblock %}

{% block body %}

    <h2> {% trans %} Edit {% endtrans %}</h2>

    {{ include('inspection/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info btn-block btn-lg" href="{{ path('inspection_index') }}">{% trans %}back to list{% endtrans %}</a>

    {% if is_granted('DELETE', inspection) %}
        {{ include('inspection/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}