{% extends 'base.html.twig' %}

{% block title %}Sandelio koregavimas{% endblock %}

{% block body %}
    <h1 align="center" class="py-3 m-0">Sandelio koregavimas</h1>

    {{ include('warehouse/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-light btn-block" href="{{ path('warehouse_index') }}">Atgal į sąrašą</a>

    {{ include('warehouse/_delete_form.html.twig') }}
{% endblock %}
