{% extends 'base.html.twig' %}

{% block title %}RoadSection{% endblock %}

{% block body %}

    <a href="{{ path('mechanism_index') }}">back to list</a>

    <a href="{{ path('mechanism_edit', {'id': road_section.id}) }}">edit</a>

    {{ include('mechanism/_delete_form.html.twig') }}
{% endblock %}