{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

    {% block body %}
        <script>
            $( function() {
                $( ".js-datepicker-1" ).datepicker();
                $( ".js-datepicker-2" ).datepicker();
            });
        </script>
        <style>
            @media print {
                .print_a {
                    overflow: visible !important;
                }
            }
            thead { display: table-header-group; }
            tr{page-break-inside: avoid !important;}
        </style>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <br>
        <hr>
        <div class="print_a">
            <table class="table table-sm thead-dark table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Subunit {% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for material in winter_material_report | default('') %}
                <tr>
                    {% if material is empty  %}
                        {% else %}
                    {% for item in material %}
                    <tr>
                        <td>{{ item.Name }}</td>

                      {% endfor %}
                            </tr>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
