{% extends 'base.html.twig' %}

{% block title %}Edit WinterMaintenance{% endblock %}

{% block body %}
    <h1>Edit WinterMaintenance</h1>

    {{ include('winter_maintenance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('winter_maintenance_index') }}">back to list</a>

    {{ include('winter_maintenance/_delete_form.html.twig') }}
{% endblock %}