{% trans_default_domain 'translation' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-success btn-block btn-lg">{{ button_label|default('Generate'| trans) }}</button>
{{ form_end(form) }}
