<form method="post" action="{{ path('winter_job_delete', {'id': winter_job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ winter_job.id) }}">
    <button class="btn btn-block btn-danger">Ištrinti</button>
</form>
