{% extends 'base.html.twig' %}

{% block title %}Naujas žmogus{% endblock %}

{% block body %}
    <h1 align="center" class="py-3 m-0">Naujas žmogus</h1>

    {{ include('person/_form.html.twig') }}
    <a class="btn btn-light btn-block" href="{{ path('person_index') }}">Atgal į sąrašą</a>

{% endblock %}
