{% extends 'base.html.twig' %}

{% block title %}Naujas darbas{% endblock %}

{% block body %}
    <h1 align="center" class="py-3 m-0">Naujas darbas</h1>

    {{ include('job/_form.html.twig') }}

    <a class="btn btn-light btn-block" href="{{ path('job_index') }}">Atgal į sąrašą</a>
{% endblock %}
