{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %} {% trans %} Edit InsuredEvent {% endtrans %}{% endblock %}

{% block body %}

    <h1> {% trans %} Edit InsuredEvent {% endtrans %} </h1>

    {{ include('insured_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info btn-block btn-lg" href="{{ path('insured_event_index') }}">{% trans %}back to list {% endtrans %}</a>

    {{ include('insured_event/_delete_form.html.twig') }}
{% endblock %}