{% extends 'base.html.twig' %}

{% block title %}New InsuredEvent{% endblock %}

{% block body %}

    <script>
        $( function() {
            function log( message ) {
                $( "<div>" ).text( message ).prependTo( "#log" );
                $( "#log" ).scrollTop( 0 );
            }
            var job_id = '';

            $( "#insured_event_RoadSearch" ).autocomplete({
                source: "{{ path('search/road') }}",
                minLength: 2,
                delay: 500,
                select: function( event, ui ) {
                    $('#insured_event_SectionBegin').val(ui.item.section_begin),
                        $('#insured_event_SectionEnd').val(ui.item.section_end),
                        $('#insured_event_RoadId').val(ui.item.section_id),
                        $('#insured_event_RoadName').val(ui.item.road_name)
                },
            });
            $( ".js-datepicker" ).datepicker();
        });
    </script>

    <h1>Create new InsuredEvent</h1>

    {{ include('insured_event/_form.html.twig') }}

    <a href="{{ path('insured_event_index') }}">back to list</a>
{% endblock %}