{% extends 'base.html.twig' %}

{% block title %}New InsuredEvent{% endblock %}

{% block body %}


    <h1>Create new InsuredEvent</h1>



    {{ include('insured_event/_form.html.twig') }}

    <a href="{{ path('insured_event_index') }}">back to list</a>
{% endblock %}